<div class="profile__page">
    <div class="back__block flex__center">
        {{> Button id="back-button" content='
        <svg width="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier" transform="rotate(180 12 12)">
                <path d="M20 12L4 12M20 12L14 18M20 12L14 6" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </svg>
        ' isRounded=true}}
    </div>
    <div class="profile__info">
        <div id="avatar" class="profile__photo flex__center">
            <span>Поменять аватар</span>
        </div>
        {{#if isOpenChangeAvatar}} {{> ChangeAvatar }}{{/if}}
        {{#unless isEditProfile}}<div>Иван</div>{{/unless}}
        
        <form>
            <table class="profile__table">
                {{#if isChangePassword}}
                    <tr>
                        <td>Старый пароль</td>
                        <td class="value">
                            {{> Input id='oldPassword' class="edit-profile__input" type="password" name='oldPassword' 
                            placeholder='Старый пароль' }}
                        </td>
                    </tr>
                    <tr>
                        <td>Новый пароль</td>
                        <td class="value">
                            {{> Input id='newPassword' class="edit-profile__input" type="password" name='newPassword' 
                            placeholder='Новый пароль' }}
                        </td>
                    </tr>
                    <tr>
                        <td>Повторите новый пароль</td>
                        <td class="value">
                            {{> Input id='repeat_newPassword' class="edit-profile__input" type="password" name='repeatNewPassword' 
                            placeholder='Повторите новый пароль' }}
                        </td>
                    </tr>
                {{else}}
                    {{#each user}}
                        <tr>
                            <td>{{name}}</td>
                            <td class="value">
                                {{#if ../isEditProfile}}
                                    {{> Input id=inputName class="edit-profile__input" type="text" name=inputName placeholder=name value=value }}
                                {{else}}
                                    {{value}}
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
            </table>
            {{#if isEditProfile}}
                {{> Button id="edit-button" type="submit" content="Сохранить"}}
            {{else}}
                {{#if isChangePassword}}
                    {{> Button id="change-password-button" type="submit" content="Сохранить"}}
                {{else}}
                    <div class="profile__links">
                        {{> Link id="change-info-link" content="Изменить данные"}} 
                        {{> Link id="change-password-link" content="Изменить пароль"}} 
                        {{> Link id="logout-link" content="Выйти"}} 
                    </div>
                {{/if}}
            {{/if}}
        </form>

        
        {{> Footer}}
    </div>
</div>


